body{  
   background: url("163bg/body-bg.png");
   /* background-size: 1300px 700px; */
   background-repeat: no-repeat;
   background-size: cover;
   margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
   flex: 1;
}

.container {
  display: flex; /* 使用flexbox布局 */
  align-items: center; /* 垂直居中对齐 */
}

header{
	margin-top: 10px;
}
header img{
	width: 140px;
	height: 30px;
	float: left;
	margin-left: 30px;
}
.vertical-line_1 {
      border-left: 1px solid grey; 
      height: 22px; /* 设置高度 */
      margin: 15px 20px;
}
.vertical-line_2 {
      border-left: 1px solid grey; 
      height: 10px; /* 设置高度 */
      margin: 15px 15px 15px 5px;
}
header p{
	color: grey;
}
nav {
   display: flex;
   justify-content: flex-end;
   margin-top: -50px;
}

nav ul {
   list-style: none;
   display: flex;
   margin: 0;
   padding: 0;

}

nav li {
  margin: 0 8px;
  text-align: center; /* 水平居中 */
  display: flex;
  align-items: center; /* 垂直居中 */
  font-size: 10px; 
 
}

nav a {
   text-decoration: none;
   color: #585e6d;
}

nav a:hover {
   color: #bab9b9;
}

.login-container{

	display: flex; /* 使用 flexbox 布局 */
    align-items: center;
   /* padding: -270px; */
   /* margin-top: 20px; */
}
.login-container>img{
	width: 1200px;
	height: 630px;
	margin-right: -450px;
}
#login-form{
   position: relative;
	background-color: white;
	width: 390px;
	height: 450px;
	
	border-radius:15px;
	box-shadow: 1px 1px 5px 1px rgb(202, 202, 202);
	float: right;
   text-align: center;
   padding-top: 25px;
   
}
.first-line{
   /* display: flex;
   position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%); */
    
    /* text-align: center; */
    margin-top: -25px;
}
.first-line h2{
   display: inline-flex;
   margin-top: 55px;
   margin-left: 75px;
   /* margin-right: 30px;
   margin-top: 80px;
   padding-right: 70px; */
   
}
.first-line img{
   width: 75px;
   height: 75px;
   /* margin-right: -170px;
   margin-top: 30px; */
   float: right;
}
.form-container{
   margin-top: 10px;
}
.input-group {
   margin-bottom: 15px;
   text-align: left;
   position: relative;
 }

 .input-group input {
   align-items: center;
   width: calc(100% - 50px);
   height: 50px;
   padding: 16px;
   box-sizing: border-box;
   border: 1px solid #ccc;
   border-radius: 5px;
   
   display: inline-block;
   margin-left: 25px;
   font: bold 16px "Microsoft YaHei";
 }
 .input-group input:focus {
   border-color: blue; /* 输入框选中时的边框颜色为蓝色 */
   outline: none; /* 取消默认的外边框 */
 }
 
 #password-container {
   position: relative;
 }

 #username::placeholder,#password::placeholder {
   
   font-weight: normal;
   color: #ccc;
   font-size: 14px;
 }

 #username-container {
   position: relative;
 }

 #username-suffix {
   position: absolute;
   top: 50%; 
   right: -5px; 
   color: #666;
   transform: translateY(-50%) translateX(-50%);
 }

 .checkbox-group {
   margin-top: -8px;
   margin-left: 22px;
   display: flex;
   align-items: center;
   justify-content: space-between; 
   margin-bottom: 25px;
 }

 .checkbox-group input {
   margin-right: 2px;
   width: 15px; 
  height: 15px;
 }
 /* 选中状态 */
.checkbox-group input[type="checkbox"]:checked {
   background-color: blue; 
 }
 
 /* 选中状态下对勾颜色 */
 .checkbox-group input[type="checkbox"]:checked::before {
   display: block;
   text-align: center;
   color: white; /* 对勾颜色为白色 */
 }
 .checkbox-group label{
   color: #555454;
   font-size: 14px;
 }
 #forgot-password{
   margin-right: 25px;
   text-decoration: none;
   color: #555454;
   font-size: 14px;
 }
 .login-button {
   background-color: #4160e8;
   color: #fff;
   padding: 12px 20px;
   border: none;
   border-radius: 5px;
   font-size: 20px;
   cursor: pointer;
   width: calc(100% - 50px);
   margin-top: 10px;
 }

 .login-button:hover {
   background-color: #5a75ef;
 }

 .links {
   margin-top: 25px;
   margin-bottom: 50px;
   font-size: 14px;
 }

 .links a {
   color: #555454;
   text-decoration: none;
 }

 .links a:hover {
   color: #7d7d7d;
 }

 .separator {
   margin: 0 8px;
   color: #bab9b9;
 }

 .privacy-text {
   margin-top: 20px;
   font-size: 14px;
   color: #666;
 }
 .copyright, .nav_container a {
   display: inline-block;
   /* margin-left: 10px; */
   color: #888;
   font-size: 12px;
}
.vertical-line_3 {
   border-left: 1px solid grey; 
   height: 10px; /* 设置高度 */
   margin: 15px 5px 15px 5px;
}
.nav_container nav{
   text-align: center;
}
.nav_container nav ul{
   padding: 0;
   margin-right: 27%;
   
}
.nav_container{
   font-size: 12px;
   text-align: center;
   color: #888;
}
.footer-certification {
   margin-top: -5px;
   margin-left: 80px;
}
.footer-certification a{
   margin-right: 15px;
   text-decoration: none;
}
.footer-certification a img{
   position: relative;
   top: 4px;
   vertical-align: baseline;
}